<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca </title>
    <!-- em vez de colocar o ../static/bootstrap.css da forma abaixo  procura na pasta e o arquivo da pasta,
    pois se houver várias pastas ou arquivos não precisarei ficar procurando o endereço completo. -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css' )}}">
  </head>
    <body>
        {% block content %}

        {% endblock %}
    </body>
</html>